.row {
  margin-left: -5px;
  margin-right: -5px;
}

.containerCategory {
  text-align: center;
}

.btnRegister {
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #4bbadc;
  color: #fff;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
}

.style_table {
  width: inherit;
}

.Supplier_InfoPopup {
  width: max-content;
  padding: 10px;
  text-align: initial;
}
